<h1><%= @vendor.name %></h1>
<h3>Contact Info:</h3>
<h5>Name: <%= @vendor.contact_name %></h5>
<h5>Phone: <%= @vendor.contact_phone %></h5><br>
<h5>Credit Accepted?: <%= yes_or_no(@vendor.credit_accepted) %></h5><br>
<h5>Description: <%= @vendor.description %></h5>