<% @markets.each do |market| %>
  <div id="market-<%= market.id %>">
    <b><%= market.name %></b>
    <%= market.city %>
    <%= market.state %>
    <%= button_to "More Info", "/markets/#{market.id}", method: :get%>
  </div>
<% end %>